@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

$fontFamily: Rubik, sans-serif;
$backgroundColor: #ffffff;
$colorButton: #101010;
$colorDiscountTitle: #313142;
$colorDiscountDescription: #9899a0;
$colorBuyButton: #f5f7f4;
$backgroundColorBuyButton: #8caa7e;
$backgroundColorBuyButtonHover: #7d9c6e;
$backgroundColorDiscountContainer: #6f7c6b;
$colorProductNameAndCount: gray;
$colorProductRate: #f28430;
